.button-sidebar
{
    -fx-background-color:  #0000/*#92C8FF*/;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}
.button-sidebar:hover
{
    -fx-background-color: rgba(132, 182, 45, 150);

}
.button-sidebar:pressed
{
    -fx-background-color: #92C8FF;

}
.button-sidebar:focused
{
    -fx-background-color: #008D58;
    -fx-border-color: #92C8FF;
    -fx-border-width: 0px 0px 0px 0px;
    -fx-text-fill: white;
}
.vbox-sidebar{
    -fx-background-color: linear-gradient(to bottom left, rgb(132, 182, 45), rgb(107, 150, 36));
}
.hbox-top{
    -fx-background-color: linear-gradient(to left bottom, rgb(107, 150, 36), rgb(132, 182, 45));
}

.separator-sidebar{
    -fx-background-color: #C5E2FF;
}
.label-top{
    -fx-text-fill: #FAFAFA;
}

/**************************/
/*    FORM VALIDATION     */
/**************************/

.required {
    -fx-font-weight: bold;
}

.missing_date {
    -fx-border-color: red;
    -fx-border-width: 1px;
}

.error_prompt_text {
    -fx-prompt-text-fill: rgba(255, 0, 0, 0.8);
}

.error_border {
    -fx-border-color: red;
    -fx-border-width: 1px;
}





.button-NOT-sidebar:hover{
    -fx-background-color: #BFBFBF;
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
}
.button-NOT-sidebar:focused{
    -fx-background-color: #92C8FF;

}
.button-NOT-sidebar:pressed {
    -fx-background-color: #008D58;
}
.tool-bar-Doctoral-students{
    -fx-background-color: #FAFAFA;
    -fx-border-color: #92C8FF;
    -fx-border-width: 0px 0px 5px 0px;
}

.tab-pane{

    -fx-background-color:#FAFAFA;
}

.tab{

    -fx-background-color: #F0F0F0;

}

.tab:hover{
    -fx-background-color: #BFBFBF;
}
.tab:pressed{

    -fx-background-color: #008D58;

}
.tab:selected
{
    -fx-background-color: #92C8FF;
    -fx-border-color: #92C8FF;
    -fx-border-width: 0px 0px 0px 0px;
}/*
.tab-pane *.tab-header-background
{
    -fx-background-color: #FFFFFF;
}

*/

.selected {
    -fx-background-color: #008D58 !important;
}

.background-green {
    -fx-background-color: linear-gradient(to bottom left, rgb(132, 182, 45), rgb(107, 150, 36)) !important;
}

.background-white {
    -fx-background-color: white;
}

.color-white {
    -fx-text-fill: white;
}

.button-login {
    -fx-background-color: #008D58 !important;
    -fx-text-fill: white;
}

.button-login:pressed
{
    -fx-background-color: #92C8FF;

}
