[Unit]
Description=The Webserver of a Managementsystem for Doctoral Students
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/etc/phdms.d
ExecStart=/usr/bin/java/bin/java -jar phdms-webserver.jar
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target