[Unit]
Description=The Webserver of a Managementsystem for Doctoral Students
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -cp phfms.jar &
ExecReload=
ExecStop=/bin/kill -s QUIT $MAINPID
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target